html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.pre,
.textarea {
    display: block;
    width: 98%;
    height: 98%;
    margin: 0;
    padding: 1%;

    border: none;
    outline: none;

    font: 200 15px/1.4em 'Source Code Pro', Menlo, monospace;
    color: #EFECEA;

    background-color: #333;

    tab-size: 2;

    white-space: pre-wrap;

    overflow-x: hidden;
    overflow-y: auto;
}

.pre {
    color: #666;
}

.pre:empty {
    display: none;
}

.dummy {
    color: #666;
}
.number {
    color: #4D96A7;
}
.string {
    color: #B7847A;
}
